
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
.nav-link{
    font-family: Aclonica; font-size: 14px; font-style: normal; font-variant: normal; font-weight:300; line-height: 26px;  
    
    color: darkblue;
}

.jumbotron {
    background-color: darkblue !important;
    padding: 0px !important;
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section{
    width: 100%;
}
 .img-fluid{
    height: 40vh !important;
    
    border-radius: 45px;
}


p{
    font-family: Aclonica; font-size: 14px; font-style: normal; font-variant: normal; font-weight:300; line-height: 26px;  
    
    color: #B1B2FF;
}


    

h1{
    font-family: Aclonica; font-size: 14px; font-style: normal; font-variant: normal; font-weight:300; line-height: 26px;  
    
    color:#B1B2FF !important ;

    
    
}
.navbar-brand{
    font-family: Aclonica; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26px;
}



h2 {
    color: #B1B2FF;
}

h3 {
    color: #5F9DF7;
}
#about{
    min-height: 400px;
}
#skills,
#work,
#contacts{
    min-height: 700px;

    
}
#skills{
    background-color: #a3a3ff;
    padding: 75px;
   
    
}
#work{
    background-color: #01e9ed;
    padding: 75px;
   
    
}
#contacts{
    background-color: #a3a3ff;
    padding: 75px;
   
    
}
.col-cards{
    padding: 5px !important;
}
.Skills{
    color: black;
    padding: 25px;
}